.shopping-cart-dropdown{
    width: 240px;
    height: 340px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    z-index: 5;
    top: 70px;
    right: 40px;

    .cart-items{
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
    button{
        margin-top: auto;
    }
    .empty-message {
        font-size: 18px;
        margin: 50px auto;
    }
}