.menu-item {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2d2d2d;
    margin: 0 7.5px 15px;
    overflow: hidden;
  
    &:hover{
        cursor: pointer;
        & .background-image{
            transform: scale(1.2);
            transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }

        & .content{
            opacity: 0.9;
        }
    }

    &.large {
        height: 360px;
    }
    &:first-child {
        margin-right: 7.5px;
    }
    &:last-child{
        margin-left: 7.5px;
    }

    .background-image{
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;    
    }
    .content {
        height: 90px;
        padding : 0 10.5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #2d2d2d;
        position: absolute;
        background-color: #fafafa;
        opacity: 0.7;
      
        .title {
            font-weight: bold;
            font-size: 18px;
            color: black;
            @media screen and (max-width:1024px){
                font-size: 14px;
            }
            @media screen and (max-width:768px){
                font-size: 11px;
            }
            @media screen and (max-width:360px){
                font-size: 10px;
                font-stretch: ultra-condensed;
            }
        }

        .subtitle {
            font-weight: 550;
            font-size: 1rem;
            @media screen and (max-width:768px){
                font-size: 10px;
            }
        }
    }
}